################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/12C_2csoport_teszt-master/.vs/12C_2csoport_teszt/FileContentIndex/4c0485da-fc76-4dc7-963c-09d6d49534eb.vsidx
/12C_2csoport_teszt-master/.vs/12C_2csoport_teszt/FileContentIndex/8c04d44f-fdf0-45f8-98a9-f3c3df3fa8f7.vsidx
/12C_2csoport_teszt-master/.vs/12C_2csoport_teszt/FileContentIndex/ab6cd858-fdf5-4ac4-a920-fe558b7788b2.vsidx
/12C_2csoport_teszt-master/.vs/12C_2csoport_teszt/FileContentIndex/cb34422b-8fc5-449f-ab76-07d8494732d8.vsidx
